.header {
    z-index: 1;
}

.gifs-container {
    min-height: 100vh;
    padding-top: 151px;
}

.gif-card {
    height: auto;
    width: auto;
    padding: 0px;
}

.gif-card img {
    height: auto;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.giphy-logo {
    height: auto;
    width: 100%;
}

.copy-url-button {
    position: relative;
    bottom: 10px;
}