.gifs-container {
    min-height: 100vh;
    padding-top: 151px;
}

.gif-card {
    height: auto;
    width: auto;
    padding: 0px;
}

.gif-card img {
    height: auto;
    width: 100%;
}

.giphy-logo {
    height: 27px;
    width: 100%;
}